<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	<body>
		{{ .Name | HelloFunc }} ({{ now }})
		<hr>
		<ul>
			<li><a href="/html/subdirectory/">subdirectory</a></li>
			<li><a href="/test/params/">params</a></li>
			<li><a href="/json/">json</a></li>
			<li><a href="/xml/">xml</a></li>
			<li><a href="/panic/">panic</a></li>
			<li><a href="/post/">method not allowed</a></li>
			<li><a href="/metrics/">metrics</a></li>
		</ul>
	</body>
</html>